body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
}

a:link{
    text-decoration: none;
    color: #fff;
}



.logo{
    color: dodgerblue;
    font-size: 60px;
    font-weight: bold;
    position: relative;
    top: 20px;
    left: 320px;
}

.tag-line{
    font-size: 35px;
    position: relative;
    top: 30px;
    left: 280px;
}

.torrent-head{
    font-weight: bold;
    font-size: 40px;
    position: relative;
    top: 250px;
    left: -50px;
}

.torrent-sites{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 400px;
    left: 200px;
}

.torrent-btn{
    height: 100px;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #CCCCCC;
	border: none;
    outline: none;
    border-radius: 20px;
}

.torrent-link{
    font-size: 40px;
}

a{
    text-decoration: none;
    color: #222;
}

.stream-head{
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 1800px;
    left: 350px;
}

.stream-sites{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1900px;
    left: -300px;
}

.stream-btn{
    height: 100px;
    width: 600px;
    font-size: 40px;
    background-color: #CCCC;
    border-radius: 20px;
    border: none;
    margin: 10px 0;
}


.direct-downloads-head{
    height: 50px;
    width: 400px;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: 3150px;
    left: -700px;
}

.direct-downloads-sites{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 3300px;
    left: -1100px;
}

.direct-downloads-btn{
    height: 100px;
    width: 600px;
    background-color: #ccc;
    font-size: 40px;
    border: none;
    border-radius: 20px;
    margin: 10px 0;
}





@media screen and (min-width: 1200px) {

    body{
        overflow-x: hidden;
    }

    .logo{
        color: dodgerblue; 
        font-size: 80px;
        text-transform: uppercase;
        position: relative;
        left: 450px;
    }

    .tag-line{
        position: relative;
        left: 470px;
    }

    .torrent-head{
        height: 200px;
        width: 1000px;
        text-transform: uppercase;
        position: relative;
        left: 50px;
        top: 220px;
        font-weight: bold;
        
    }

    .torrent-btn{
        height: 45px;
        width: 250px;
       cursor: pointer;
    }

    .torrent-link{
        font-size: 20px;
    }

    #site1337x{
        margin: 0;
    }

    #piratebay{
        position: relative;
        top: -200px;
    }
}
